{% include './modals.html' %}
<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>

<footer>
    <div class="container">
        <div class="row">
            <div class="wrapper footer__wrapper">
                <div class="footer__left">
                    {% include 'img/logo.svg' %}</div>
                <div class="footer__right">
                    <span>  Мы в соц сетях</span>

                    {% include 'img/svg/inst.svg' %}</div>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="wrapper footer__wrapper">
                    <div class="footer__left">© 2020 Все права сохранены</div>
                    <div class="footer__right">alex</div>
                </div>
            </div>
        </div>
    </div>

</footer>