<div id="space-navbar-fixed"class="banner banner--home">
    <div class="container">
        <div class="row">
            <div class="banner__wrapper">
                <div class="banner__content">
                    <h1>Европейский перевязочный материал</br> для лечения ран и рубцов</h1>
                <ul>
                    <li>Официальный дилер компании Mölnlycke Health Care (Швеция).</li>
                    <li>Запатентованная технология силиконового покрытия «Safetac».</li>
                    <li>Гипоаллергенный состав.</li>
                    <li>Прямые поставки с Европы.</li>
                    <li>Бесплатная доставка по Казахстану.</li>

                </ul>
                <div class="btn btn-outline"> бесплатная консультация специалиста</div>
            </div>

            <div onclick="ScrollDown();" class="arrow"></div>
        </div>

    </div>
</div>
</div>