<div id="bg_layer"></div>
<div id="modal" class="modal modal--fade">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="block__header">
                <h3 class="modal__title block__title">Modal</h3>
                <div onclick="closeFunction();" class="btn close">x</div>
            </div>
            <div class="modal__body">
                <form action="/action_page.php" class="test">
                    <label class="modal__field" for="fname">Ваше имя</label>
                    <input  class="modal__field" type="text" id="fname" name="firstname" placeholder="Нурсултан">

                    <label class="modal__field">Номер телефона</label>
                    <input type="text" id="lname" name="lastname" placeholder="+7 (__)___ __ __">

                </form>

            </div>
            <div class="modal__footer">
                <div class="btn btn-primary">Отправить</div>

            </div>

        </div>
    </div>

</div>