<nav id="navbar" class="nav">
    <div class="container">
        <button class="hamburger nav__hamburger hamburger--elastic-r" type="button" aria-label="Menu" aria-controls="navigation">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="row">
            <div class="wrapper nav__wrapper">
                <div class="logo nav__logo nav__left">
                    {% include 'img/logo_color.svg' %}
                </div>
                <ul id="menu" class="nav__right " role="navigation">
                    <li class="nav__item">
                        <a id="nav_link" class="nav__link" href="index.html">Главная</a>
                    </li>

                    <li class="nav__item">
                        <a id="nav_link" class="nav__link" href="cat.html">Каталог  </a>
                    </li>

                    <li class="nav__item">
                        <a id="nav_link" class="nav__link" href="about.html">О нас</a>
                    </li>

                    <li class="nav__item">
                        <a id="nav_link" class="nav__link" href="contact.html">Контакты</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>