@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$base-font-family: 'Roboto', sans-serif;
$font-heading: 'Russo One', sans-serif;
$max-width-container: 1140px;

$primary: #6ba6ea;
$secondary: #55eb9e;
$base-font-color: #3e4345;

$gutters: 15px;
$hamburger-layer-color: $primary;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-layer-width: 32px;

$border-radius-base: 3px;

$button-font-size: 14px;

$base-font-size: 16px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px;
$max-width: 1400px;

$BP-minimum: 320px;
$BP-tiny: 350px;
$BP-small: 480px;
$BP-mobile: 600px;
$BP-phablet: 770px;
$BP-tablet: 960px;
$BP-large: 1024px;
$BP-page: 1440px;
