.arrow {
  display: block;
  z-index: 2;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 10px);

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/img/arrow.svg');
    background-repeat: no-repeat;
  }
}
