.block {


    &__header {
        display: -ms-flexbox;
        display: flex;

        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }


    &_imge {
        display: flex;
        justify-content: center;
        // padding: 20px;
        margin-bottom: $gutters;

        img {
            width: 100%;
        }

    }

    &__content {
        padding: $gutters;
        margin: 0 0 $gutters 0;
        // box-shadow: 0px 0px 8px rgba(8, 35, 48, 0.16);
        border: 1px solid rgba(128, 128, 128, 0.2);

        border-radius: $border-radius-base;

        ul {
            padding: 0;
            margin: 40px 18px;
            line-height: 1.5rem;
            // font-size: 20px;
        }




        &--ul-margin-none {


            ul {
                padding: 0;
                margin: 0;
                // line-height: 1.5rem;
                // font-size: 20px;
            }

        }

    }


    &__title {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: $gutters;
        color: $primary;

    }



    &__size {
        list-style: none;
        display: flex;
        font-weight: bold;
        flex-direction: column;




        li {
            padding-bottom: 18px;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    &__right {
        p {
            max-width: 100%;

        }
    }


    &__fixed {
        //         width: 25%;
        //   height: 25vh; // experiment with this value, try changing to 110vh
        //   min-height: 200px;
        //   overflow: auto;
        //   position: -webkit-sticky;
        //   position: sticky;
        //   top: 5%;
    }

    &__left {

        margin-top: -42px;
        padding: 20px;
        height: 100vh; // experiment with this value, try changing to 110vh
        min-height: 200px;
        overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 5%;
        z-index: 1;
        background-color: white;
        border-radius: $border-radius-base;

        @include mq(max $BP-mobile) {
            position: relative;
            margin-top: -95px;
        }


        .btn-primary {
            max-width: 100%;
            margin-top: 20px;
        }


        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: $gutters auto;
            justify-content: center;
            // padding: 0 20px;

        }

        li {
            margin: 0 8px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            @include mq(max $BP-mobile) {
                width: calc(100%/3);
            }



            img {
                width: 100%;

            }

        }
    }
}