button {
  border: none;
  width: 100%;
}

.btn {
  border-radius: 3px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  line-height: 20px;
  padding: 12px;
  font-size: 14px;
  transition: 0.5s;
  padding: 12px;
  display: block;
  text-align: center;
  border-color: lighten($primary, 10%);
  max-width: 400px;
  white-space: nowrap;

  @include mq(max $BP-mobile) {
    font-size: 12px;
  }



}

.btn-outline {
  border: 2px solid #fff6f6;
  background-color: transparent;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $primary;
  }

  &--color {
    border: 2px solid $primary;
    color: $primary;
  }
}

.btn-outline:hover {
  background-color: #fff;
  color: $primary;
}

.btn-primary {
  background-color: $primary;
  color: #fff;


  @include mq(max $BP-mobile) {
    max-width: 320px;
  }
}



.btn-primary:hover {
  background-color: darken($primary, 10%);
}