.border {


    &__title {
        position: relative;

        &::after {
            content: '';
            display: block;
            background-color: $primary;
            width: 35px;
            height: 3px;
            position: absolute;
            bottom: 20%;
        }

        &--white {
            &::after {

                background-color: #fff;
                bottom: 0;

            }
        }

    }



}