input[type=text],
textarea {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

select {
    @extend textarea;
}

form {
    button {
        max-width: 100%;
        margin-top: 20px;
    }

    p {
        max-width: 100%;
    }
}