// .mainitem,
// .item {
//   flex-grow: 1;
//   /* растягивание элементов */

//   background: $primary;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   /* цифры по центру */
// }

// .mainitem {
//   min-height: 300px;
//   width: 100%;
//   width: -webkit-calc(33.33% - 30px);
//   width: -moz-calc(33.33% - 30px);
//   width: calc(33.33% - 30px);
//   margin: 22px 22px 22px 0px;
//   /* высота основного блока */
// }

// .sideitem {
//   /* flex:0 0 150px; */

//   /* ширина 150 */
//   flex-shrink: 0;
//   /* Убираем уменьшение = 150 */
//   width: 100%;
//   width: -webkit-calc(33.33% - 30px);
//   width: -moz-calc(33.33% - 30px);
//   width: calc(33.33% - 30px);
//   margin: 22px 22px 22px 0px;

//   display: flex;
//   flex-direction: column;
// }

// .item:first-child {
//   margin-bottom: 30px;
// }

// /* меньше 600px */
// @media screen and (max-width: 600px) {
//   .flex {
//     flex-wrap: wrap;
//   }

//   /* для переноса */

//   .sideitem {
//     flex-direction: row;
//     flex-basis: 100%;
//   }

//   .item {
//     margin-left: 0;
//     margin-top: 10px;
//   }

//   .item:first-child {
//     margin-bottom: 0;
//     margin-right: 10px;
//   }
// }

// /* меньше 450px */
// @media screen and (max-width: 450px) {
//   .sideitem {
//     flex-wrap: wrap;
//   }

//   /* разрешаем перенос */
//   .item {
//     flex-basis: 100%;
//   }

//   /* на всю ширину */
//   .item:first-child {
//     margin-right: 0;
//   }
// }

.body-catalog {
  padding-bottom: 30px;

  &__item {
    position: relative;
    border-radius: $border-radius-base;
    transition: 0.5s;
    height: 100%;
    overflow: hidden;


    &:hover {
      box-shadow: 0px 16px 24px rgba(8, 35, 48, 0.16);
      cursor: pointer;
      // transform: scale(1.01);
    }
  }

  &__foto {
    height: 100%;
    background-color: $primary;

    img {
      display: block;

      object-fit: cover;
      object-position: center;
      max-height: 258px;
      min-height: 258px;

      @include mq(max $BP-mobile) {
        width: 100%;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    width: 100%;
    line-height: 24px;
    text-align: center;
    // padding: 0 0 10px 0;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
  }
}

// .mainitem-item {

//   width: 100%;
//   width: calc(33.33% - 32px);
//   margin: 16px;

//   @media screen and (max-width: 600px) {
//     width: 100%;
//     margin: 0;

//   }

//   &__body {
//     position: relative;
//     transition: .5s;

//     border-radius: 0 0 20px 20px;

//     @media screen and (max-width: 600px) {
//       margin-bottom: 20px;
//     }

//     &:hover {
//       box-shadow: 0px 16px 24px rgba(8, 35, 48, 0.16);
//       cursor: pointer;
//       transform: scale(1.01);
//     }

//   }

//   &__foto {
//     img {
//       display: block;

//     }
//   }

//   &__title {

//     position: absolute;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, .38);
//     color: #fff;
//     width: 100%;
//     line-height: $base-font-size*1.5;
//     text-align: center;
//     padding: 0 0 10px 0;
//     min-height: 54px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 0 0 16px 16px;

//   }

// }