/* Add a black background color to the top navigation */
.topnav {

    svg {
        width: 150px;
    }

    overflow: hidden;
    max-width: $max-width-container;
    margin: 0 auto;
    line-height: 2em;

    display: flex;


    a {
        float: right;
        color: #000;
        text-align: center;
        padding: 32px 24px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            border-bottom: 8px solid $secondary;

        }

        &.active {
            border-bottom: 8px solid $primary;

        }
    }
}