<div id="modal-img" class="modal modal--fade">
    <form id="modals2" name="modall" onsubmit="return validateForm()" data-request="{{ genericForm2 }}::onFormSubmit"
          class="modal2">
        {{ form_token() }}
        <div id="{{ genericForm2 }}_forms_flash"></div>
        <input type="hidden" name="pagename" value=" {{ record.name }}">

        <label class="modal__field">ФИО</label>
        <input class="modal__field" type="text" required id="name" name="name" placeholder="Напишите Ваше Имя">

        <label class="modal__field">Номер телефона</label>
        <input type="text" required id="phone" name="phone" placeholder="+7 (__)___ __ __">

        <button type="submit" id="simpleContactSubmitButton" class="btn btn-primary">Отправить</button>
    </form>

</div>

<div id="modal-img" class="modal modal--fade">
    <form id="modals3" name="modall" onsubmit="return validateForm()" data-request="{{ genericForm3 }}::onFormSubmit"
          class="modal2">
        {{ form_token() }}
        <div id="{{ genericForm3 }}_forms_flash"></div>
        <input type="hidden" name="pagename" value=" {{ record.name }}">

        <label class="modal__field">ФИО</label>
        <input class="modal__field" type="text" required id="name" name="name" placeholder="Напишите Ваше Имя">

        <label class="modal__field">Номер телефона</label>
        <input type="text" required id="phone" name="phone" placeholder="+7 (__)___ __ __">

        <button type="submit" id="simpleContactSubmitButton" class="btn btn-primary">Отправить</button>
    </form>

</div>