==
<div id="modal" class="modal modal--fade">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="block__header">
                <h3 class="modal__title block__title">
                    {{ record.name }}
                </h3>
                <div onclick="closeFunction();" class="btn close">x</div>
            </div>
            <div class="modal__body">

                <img class="modal-content" id="img01">
            </div>
        </div>

    </div>