==

<script>
    $(".modal").fancybox({
        afterClose: function () {
            location.reload();
            return;
        }
    });

    $(".modal2").fancybox({
        afterClose: function () {
            location.reload();
            return;
        }
    });

    $(document).ready(function () {
        $(".reset-btn").click(function () {
            $("#modals").trigger("reset");
        });
    });
</script>

<div id="modal-img" class="modal modal--fade">
    <form id="modals" name="modall" onsubmit="return validateForm()" data-request="{{ genericForm }}::onFormSubmit"
          class="modal">
        {{ form_token() }}
        <div id="{{ genericForm }}_forms_flash"></div>
        <input type="hidden" name="pagename" value=" {{ record.name }}">

        <input type="hidden" name="price" id="input-price" value="" required>
        <label class="modal__field" for="fname">ФИО</label>
        <input class="modal__field" type="text" required id="name" name="name" placeholder="Напишите Ваше Имя">
        <label class="modal__label">Размер:</label>

        <select class="modal__select" id="department" required name="Размер">
            <option value="" selected disabled>Выберете размер...</option>
        </select>
        <div class="modal__quantity">
            <button class="minus">-</button>
            <div class="quantity__wrapp">
                <p>Количество:</p>
                <input class="modal__size" id="input-quantity" type="number" name="quantity" value="1">
            </div>
            <button class="plus">+</button>
        </div>

        <label class="modal__field">Номер телефона</label>
        <input type="text" required id="phone" name="phone" placeholder="+7 (__)___ __ __">
        <p class="modal__price">Итоговая цена: <span id="department-price">0</span></p>
        <div class="modal__footer">
            <button type="submit" id="simpleContactSubmitButton" class="btn btn-primary">Отправить</button>

            <button type="button" class="reset-btn">Очистить форму</button>
        </form>
    </div>