{# {% include 'partials/modals/modals.htm' %} #}

<footer>
    <div class="container">
        <div class="row">
            <div class="wrapper footer__wrapper">
                <div class="footer__left">
                    <img style="width:50%" src="{{ 'assets/img/logo_ww.svg'|theme }}" alt=""></div>
                <div class="footer__right">
                    <span>  Мы в соц сетях&nbsp;</span>

                    <img style="width:30px" src="{{ 'assets/img/inst.svg'|theme }}" alt="">

                </div>
            </div>

        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="wrapper footer__wrapper">
                    <div class="footer__left">  &copy; {{ this.theme.copyright }}</div>
                    <div class="footer__right">AVOQADO.KZ</div>
                </div>
            </div>
        </div>
    </div>

</footer>

{% partial 'modal/modals' %}