<div class="container">
  <div class="row">
    <div class="banner__wrapper my-5">
      <div class="banner__content">
        <div class="row">
          <div class="col col-6">
            <div class="marketing__wrapper">
              <h1>Остались вопросы?</h1>
              <p>Если у Вас остались вопросы, Вы готовы к покупке или хотите заказать пробную партию товара, ЗВОНИТЕ – вместе мы найдем лучшее решение!</p>

              <div data-fancybox="modals3" data-src="#modals3" href="javascript:;" class="btn btn-primary w-100">Бесплатная консультация специалиста</div>
            </div>

          </div>
          <div class="col col-6 mob-order">
            <img style="width:100%" src="{{ 'assets/img/qwes.png'|theme }}" alt="">
          </div>
        </div>
      </div>

    </div>

  </div>
</div>