<section class="block-steps">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title block-steps__title">
                    <h2>Покупайте не выходя из дома</h2>
                </div>
            </div>

            <div class="steps-column">
                <div class="item item-steps">
                    <div class="item-steps__number">1</div>
                    <div class="item-steps__caption">Шаг</div>
                    <div class="item-steps__desc">Выберете нужную продукцию</div>
                </div>
            </div>

            <div class="steps-column">
                <div class="item-steps">
                    <div class="item-steps__number">2</div>
                    <div class="item-steps__caption">Шаг</div>
                    <div class="item-steps__desc">Оформите заказ в три клика</div>
                </div>
            </div>

            <div class="steps-column">
                <div class="item-steps">
                    <div class="item-steps__number">3</div>
                    <div class="item-steps__caption">Шаг</div>
                    <div class="item-steps__desc">Дождитесь звонка менеджера</div>
                </div>
            </div>

            <div class="steps-column">
                <div class="item-steps">
                    <div class="item-steps__number">4</div>
                    <div class="item-steps__caption">Шаг</div>
                    <div class="item-steps__desc">Получите Ваш заказ</div>
                </div>
            </div>

        </div>
    </div>
</section>