title = "catalog-simple"
url = "/catalog-simple/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Alex\Landingcat\Models\Catalog"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "full_desc"
notFoundMessage = "Record not found"

[genericForm]
rules[name] = "required"
rules[Размер] = "required"
rules[phone] = "required"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
messages_partial = "flash/flash.htm"
reset_form = 0
inline_errors = "disabled"
js_on_success = "alert('ok');"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}

    <div id="space-navbar-fixed" class="banner banner--product banner--anima">
        <div class="container">
            <div class="row">
                <div class="banner__wrapper">
                    <div class="banner__content">
                        <h1 class="border__title border__title--white">
                            {{ record.name }}</h1>
                        <p>{{ record.short_desc }}</p>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col col-4">
                <div class="block__left">
                    <div class="block_imge">
                        <a style="width: 100%;" data-fancybox="gallery" href="{{ record.img.path }}">
                            <img data-src="{{ record.img.path }}" class="myImg" src="{{ record.img.thumb(293, 293, {'mode':'auto'}) }}" alt="" srcset=""></a>
                    </div>
                    <ul>

                        {% for image in record.gall %}
                            <li>
                                {# <a href="{{ image.path }}"> #}
                                <a data-fancybox="gallery" href="{{ image.path }}"><img  data-src="{{ image.path }}" class="myImg" src="{{ image.thumb(115, 115, {'mode':'crop'}) }}" alt="" srcset=""></a>
                                {# </a> #}
                            </li>

                            {%endfor%}

                        </ul>
                        <div data-fancybox="modal" data-src="#modals" href="javascript:;" class="btn btn-primary">Заказать</div>

                    </div>
                </div>
                <div class="col col-8">
                    <div class="block__right">
                        <div class="block__content block__content--bordernone block__content--ul-margin-none">
                            <p class="block__title">Размер</p>
                            <div class="row ">
                                <div class="col col-2 block__size">Размер (см)</div>
                                <div class="col col-10 block__size">цена (₸)</div>
                            </div>

                            <div class="row">
                                {% for size in record.size %}
                                    <div class="col col-2">{{size.size_product }}</div>
                                    <div class="col col-10">{{size.price_product }}</div>

                                {% endfor %}
                            </div>

                        </div>
                        {% for full_desc in record.full_desc %}
                            <div class="block__content">
                                <p class="block__title">
                                    {{ full_desc.desc_title }}
                                </p>

                                <p>{{ full_desc.desc_r | raw }}</p>

                            </div>
                        {% endfor %}

                        <div  onclick="openFunction();" class="btn btn-primary display-mob">Заказать</div>
                    </div>

                </div>
            </div>
        </div>

        {% partial 'modal/modals' %}

    {% else %}
        {{ notFoundMessage }}
    {% endif %}