title = "landing single"
url = "/home/:id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Alex\Landingcat\Models\Landing"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "label"
notFoundMessage = "Record not found"

[genericForm genericForm2]
rules[name] = "required"
rules[phone] = "required"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
messages_partial = "flash/flash2.htm"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div id="space-navbar-fixed" class="banner banner--landing banner--anima">
    <div class="container">
        <div class="row">
            <div class="banner__wrapper">
                <div class="banner__content">
                    <h1 class="border__title border__title--white">{{ record.label }}</h1>
                    <p>{{ record.short_desc }}</p>

                </div>

                <div data-fancybox="modals2" data-src="#modals2" href="javascript:;" class="btn btn-outline">Получить бесплатную консультацию</div>

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="wrapper">
            <div class="block__content block__content--no-shadow">
                {% if record %}
                    {{ record.text | raw }}

                {% else %}
                    {{ notFoundMessage }}
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="container">

    {% for landpro in record.landpro %}
        <div class="row">
            <div class="land">
                <div class="col col-4">
                    <img src="{{ landpro.imgpro |media|resize(350, 350) }}" alt="">
                </div>
                <div class="col col-8">
                    <div class="land__product">
                        <p class="block__title">
                            {{landpro.head }}</p>
                        {{landpro.descpro |raw }}
                        <div class="land__footer">
                            <a class="btn btn-primary" href="{{landpro.linkpro }}">Подробнее</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>